:root {
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

ol {
    list-style: none;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    text-align: center;
}

form,
.result-list {
    padding: 15px;
    width: 50%;
}

input, 
select,
label,
.form-btn,
.clear-btn {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
}

form,
input, 
select,
label,
.form-btn,
.clear-btn,
.result-list,
#sum-paragraph {
    margin: 0 auto;
}

label {
    padding: 5px 0;
}

label,
.btn {
    text-transform: uppercase;
}

input,
select {
    margin-bottom: 10px;
    border: none;
    padding: 8px;
    border: 1px solid #333;
}

input:focus,
select:focus {
    outline: none;
    background-color: rgb(235, 228, 220);
}

.input-error {
    border: 2px solid red;
}

.btn {
    padding: 5px;
    border-radius: 0px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-dark {
    color: #333;
    background-color:bisque;
    border: 1px solid #333;
}
.btn-dark:hover {
    color: bisque;
    background-color: rgb(114, 109, 109);
    border: 1px solid transparent;
}

.btn-light {
    color: bisque;
    background-color: rgb(114, 109, 109);
    border: 1px solid transparent;
}
.btn-light:hover {
    color: #333;
    background-color: bisque;
    border: 1px solid #333;
}


.clear-btn {
    width: 15%;
}

#add {
    width: 10%;
}

.result-list {
    text-align: center;
}

.list-item {
    padding: 2px 5px;
}

.error-msg {
    color: red;
    font-size: 0.8rem;
    font-style: italic;
    display: inline-block;
    padding: 2px 0;
}

#sum-paragraph {
    padding: 8px 0;
}

@media screen and (max-width: 767px) {
    form,
    input,
    select,
    label,
    .form-btn,
    #add {
        width: 100%;
    }

}

@media screen and (min-width: 768px) and (max-width: 864px)  {
    form,
    input,
    select,
    label,
    .form-btn,
    #add {
        width: 70%;
    }
}